{% extends 'base.html' %}
{% load static %}

{% block page_title %}
ABOUT / FAQ
{% endblock %}

{% block content %}
<div class="block-area row">
    <h2>What is letsmeet.click?</h2>
    <p>
        Letsmeet is a platform to organize your events and get informed about events you might be interested in.<br>
        <div class="well tile">
            <h4>You can:</h4>
            <ul class="list-unstyled">
                <li><i class="fa fa-check fa-2x"></i> <strong>Subscribe</strong> to communities to tell your interest in events</li>
                <li><i class="fa fa-check fa-2x"></i> <strong>Comment</strong> on events to plan details</li>
                <li><i class="fa fa-check fa-2x"></i> <strong>Tell</strong> others that you are coming/not coming to an event</li>
                <li><i class="fa fa-check fa-2x"></i> Easily <strong>share</strong> your communities and events in social media</li>
                <li><i class="fa fa-check fa-2x"></i> Enrich your communities and events with <strong>useful info</strong> like homepage adress, twitter username, etc.</li>
            </ul>
            <p>
                and more...
            </p>
        </div>

        <div class="well tile">
            <h4>Coming soon:</h4>
            <ul>
                <li><strong>Get notified</strong> about events in your communities</li>
            </ul>
            For more check our <a href="https://github.com/letsmeet-click/letsmeet.click/milestones">roadmap milestones</a>
        </div>
    </p>
</div>

<div class="block-area row">
    <h2>What does it cost?</h2>
    <p>
        It's completely free to use!
    </p>
</div>
{% endblock content %}
