{% extends 'base.html' %}
{% load static %}

{% block page_title %}
CONTACT
{% endblock %}

{% block content %}
<div class="block-area row">
    <div class="col-md-4 tile">
        <h2>Contact</h2>
        <table class="table">
            <tr>
                <th>Email</th>
                <td>info(at)letsmeet(dot)click</td>
            </tr>
            <tr>
                <th>Github</th>
                <td><a href="http://github.com/letsmeet-click">http://github.com/letsmeet-click</a></td>
            </tr>
            <tr>
                <th>Twitter</th>
                <td><a href="http://twitter.com/letsmeet_click">http://twitter.com/letsmeet_click</a></td>
            </tr>
            <tr>
                <th>Facebook</th>
                <td><a href="http://facebook.com/letsmeet.click">http://facebook.com/letsmeet.click</a></td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}
