{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}
<div class="row">
    <div class="col-md-5 text-center">
        <h2>Log in with your existing account from</h2>
        <div class="row">
            <a class="col-md-4 text-center" href="{% url 'social:begin' 'github' %}?next={{ request.path }}"><i class="fa fa-github fa-5x"></i><br>Github</a>
            <a class="col-md-4 text-center" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}"><i class="fa fa-twitter fa-5x"></i><br>Twitter</a>
            <a class="col-md-4 text-center" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"><i class="fa fa-facebook fa-5x"></i><br>Facebook</a>
        </div>
    </div>

    <div class="col-md-5 col-md-offset-2 text-center">
        <h2>or use your local account:</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form|as_bootstrap }}
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
<hr>
<div class="alert alert-warning" role="alert">
    <i class="fa fa-sticky-note"></i> Note: If you have already created an account use the same log in again. If you use another one a second account will be created. To connect other logins please check your profile after you have logged in.
</div>
{% endblock content %}
