{% extends 'base.html' %}
{% load rules event_tags community_tags static bootstrap_tags users_tags rich_text %}

{% block og_url_path %}{{ request.path }}{% endblock %}

{% block og_title %}{{ event }} on letsmeet.click{% endblock %}

{% block page_title %}
Event: {{ event.name }} ({{ event.begin }})
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% has_perm 'event.can_edit' user event as can_edit %}
{% has_perm 'event.can_rsvp' user event as can_rsvp %}
{% has_perm 'event.can_create_comment' user event as can_create_comment %}
{% get_community_event_rsvp user event as rsvp %}
{% get_community_subscription user event.community as user_subscription %}
{% endif %}

<div class="text-right">
    {% if can_edit %}
    <a class="btn" href="{{ event.get_update_url }}"><i class="fa fa-pencil-square-o"></i> Edit</a>
    {% endif %}
    <a class="btn" href="{{ event.community.get_absolute_url }}"><i class="fa fa-users"></i> Back to community</a>
</div>

<h1>{{ event.name }} <small>in {{ event.begin|timeuntil }}</small></h1>
{% if event.description %}
<p>
    {{ event.description|rich_text }}
</p>
{% elif can_edit %}
<div class="alert alert-info" role="alert">
    <i class="fa fa-lightbulb-o"></i> <em>Hint: <a class="alert-link" href="{{ event.get_update_url }}">Set a description</a> to provide further information for your attendees</em>
</div>
{% endif %}

<table class="table">
    <tr>
        <th>Begin</th>
        <td>{{ event.begin }}</td>
    </tr>
    <tr>
        <th>End</th>
        <td>{{ event.end }}</td>
    </tr>
{% if shackspace %}
    <tr>
        <th>Location</th>
        <td>{{ event.location }}</td>
    </tr>
{% endif %}
</table>

{% if event.is_upcoming %}
<h3>Will you join?</h3>
{% if rsvp %}
<p>
    You answered <span class="label label-{% if rsvp.coming %}success{% else %}danger{% endif %}">{% if rsvp.coming %}Yes{% else %}No{% endif %}</span>.
</p>
<form method="POST" action="{{ event.get_rsvp_reset_url }}">
    {% csrf_token %}
    <button type="submit" class="btn">Change answer</button>
</form>
{% else %}
{% if event.is_full %}
<div class="alert alert-danger" role="alert">
    Maximum number of attendees reached. You can not RSVP anymore.
</div>
{% else %}
{% if not user_subscription %}
<div class="alert alert-info" role="alert">
    Note: You will be automatically subscribed to the community when you RSVP.
</div>
{% endif %}
<div class="row">
    <form method="POST" action="{{ event.get_rsvp_yes_url }}" class="inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-check"></i> Yes</button>
    </form>
    <form method="POST" action="{{ event.get_rsvp_no_url }}" class="inline m-l-20">
        {% csrf_token %}
        <button type="submit" class="btn btn-lg btn-danger"><i class="fa fa-times"></i> No</button>
    </form>
</div>
{% endif %}
{% endif %}
{% endif %}

<div class="block-area">
    <h3>Share event</h3>
    {% if event.twitter_hashtag %}
    <p>
        Event hashtag: #{{ event.twitter_hashtag }}
    </p>
    {% elif can_edit %}
    <div class="alert alert-info" role="alert">
        <i class="fa fa-lightbulb-o"></i> <em>Hint: <a class="alert-link" href="{{ event.get_update_url }}">Set a hashtag</a> to tell your attendees how they can reference your event in social media</em>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-1">
            <a
                href="https://twitter.com/share"
                class="twitter-share-button"
                data-url="https://www.letsmeet.click{{ event.get_absolute_url }}"
                data-text="Join me at {{ event.name }}."
                data-via="letsmeet_click"
                {% if event.twitter_hashtag %} data-hashtags="{{ event.twitter_hashtag }}"{% endif %}
            ></a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>

        <div class="col-md-1">
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=212341402442310";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-share-button" data-href="https://www.letsmeet.click{{ event.get_absolute_url }}" data-layout="button"></div>
        </div>
    </div>
</div>

<div class="block-area">
    <h3>RSVPs</h3>

    <p>
        <span class="label label-success">{{ event.rsvp_yes.count }}</span> coming<br>
        <span class="label label-danger">{{ event.rsvp_no.count }}</span> not coming
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>User</th>
                <th>Coming?</th>
                <th>RSVPed on</th>
            </tr>
        </thead>
        <tbody>
            {% for rsvp in event.rsvps.all %}
            <tr>
                <td>{{ rsvp.user.username }}</td>
                <td>
                    <span class="label label-{% if rsvp.coming %}success"><i class="fa fa-check"></i>{% else %}danger"><i class="fa fa-times"></i>{% endif %}</span>
                    {{ rsvp.coming|yesno }}
                </td>
                <td>
                    {{ rsvp.modified }}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan=3><em>Nobody RSVPed until now</em></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="block-area">
    <h3>Comments</h3>
    <div class="tile">
        <div class="listview narrow">
            {% if can_create_comment %}
            <div class="media">
                <a href="" onclick="$('#write-comment').slideDown(); return false"><i class="fa fa-plus"></i> Write Comment</a>
            </div>
            <div id="write-comment" class="tile" style="display:none">
                <div class="row">
                    <div class="col-md-6">
                        <form method="POST" action="{{ event.get_comment_create_url }}">
                            {% csrf_token %}
                            {{ comment_form|as_bootstrap }}
                            <button class="btn pull-right" type="submit"><i class="fa fa-plus"></i> Send</button>
                            <a href="" class="btn" onclick="$('#write-comment').slideUp(); return false;"><i class="fa fa-times"></i> Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
            {% for comment in event.comments.all %}
            <div class="media p-10">
                <div class="pull-left">
                    <img style="height:40px" src="{{ comment.user|avatar_url:'micro' }}" alt="avatar of {{ event.user.username }}">
                </div>
                <div class="media-body">
                    <small class="text-muted">{{ comment.created|timesince }} ago by {{ comment.user.username }}</small><br>
                    <p>{{ comment.text|linebreaksbr }}</p>
                </div>
            </div>
            {% empty %}
            <div class="media p-l-5">
                <em>No comments yet.</em>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
