django<1.10
django-extensions==1.7.1
django-forms-bootstrap==3.0.1
django-ical==1.4
django-mailgun==0.9.1
django-stdimage==2.3.3
gunicorn==19.6.0
icalendar==3.10
ipython==5.1.0
opbeat==3.3.4
opencage
Pillow
psycopg2==2.6.2
pyflakes==1.4.0
pylama==7.3.3
pytest==2.9.2
pytest-django==2.9.1
python-openid==2.2.5
python-social-auth==0.2.20
requests-oauthlib==0.6.2
rules==1.1.1
tox==2.3.1
