django<2.0
django-extensions==1.7.9
django-forms-bootstrap==3.1.0
django-ical==1.4
django-mailgun==0.9.1
django-stdimage==2.4.1
gunicorn==19.7.1
icalendar==3.11.4
ipython==6.1.0
opbeat==3.5.2
opencage
Pillow
psycopg2==2.7.1
pyflakes==1.5.0
pylama==7.4.1
pytest==3.1.2
pytest-django==3.1.2
python-openid==2.2.5
python-social-auth==0.2.21
requests-oauthlib==0.8.0
rules==1.2.1
tox==2.7.0
