{% extends 'base.html' %}
{% load rules community_tags %}

{% block og_url_path %}{{ request.path }}{% endblock %}

{% block og_title %}{{ community }} on letsmeet.click{% endblock %}

{% block page_title %}
Community: {{ community }}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% get_community_subscription user community as user_subscription %}
{% has_perm 'community.can_edit' user community as can_edit %}
{% has_perm 'community.can_create_event' user community as can_create_event %}
{% has_perm 'community.can_set_owner' user community as can_set_owner %}
{% has_perm 'community.can_set_admin' user community as can_set_admin %}
{% has_perm 'community.can_set_subscriber' user community as can_set_subscriber %}
{% endif %}

<div class="row">
    <div class="block-area">
        <div class="col-sm-7 col-xs-12">
            <h2>{{ community }}</h2>
            {% if community.description %}
            <p class="p-20">
                {{ community.description|linebreaksbr }}
            </p>
            {% elif can_edit %}
            <div class="alert alert-info" role="alert">
                <i class="fa fa-lightbulb-o"></i> <em>Hint: <a href="{{ community.get_update_url }}">Set a description</a> to provide further information about this community</em>
            </div>
            {% endif %}
        </div>
        <div class="col-sm-5 col-xs-12">
            <div class="block-area">
                <div class="well tile">
                    {% if community.get_next_event.name %}
                    <h2>Next upcoming event:</h2>
                    <h1>
                        <a href="{{ community.get_next_event.get_absolute_url }}">
                            {{ community.get_next_event.name }} <small>in {{ community.get_next_event.begin|timeuntil }}</small>
                        </a>
                    </h1>
                    <h3>
                        <a href="{{ community.get_next_event.community.get_absolute_url }}">
                            {{ community.get_next_event.community.name }}
                        </a>
                    </h3>
                    <p><a href="{{ community.get_next_event.get_absolute_url }}" class="btn">Details</a></p>
                    {% else %}
                    <h2>No upcoming event</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-area text-right">
    {% if user_subscription %}
    <a class="btn btn-default" href="{{ community.get_unsubscribe_url }}"><i class="fa fa-user-times"></i> Unsubscribe</a>
    {% else %}
    <a class="btn btn-default" href="{{ community.get_subscribe_url }}"><i class="fa fa-user-plus"></i> Subscribe</a>
    {% endif %}

    {% if can_create_event %}
    <a class="btn btn-default" href="{{ community.get_event_create_url }}"><i class="fa fa-plus"></i> Schedule event</a>
    {% endif %}

    {% if can_edit %}
    <a class="btn btn-default" href="{{ community.get_update_url }}"><i class="fa fa-pencil-square-o"></i> Edit</a>
    {% endif %}
</div>

{% if community.twitter or community.github or community.homepage or community.slack or community.irc_channel and community.irc_network %}
<div class="block-area">
    <h3>Find this community on the web</h3>
    <p>
        {% if community.homepage %}
        <a class="btn btn-default" href="{{ community.homepage }}"><i class="fa fa-globe"></i> Homepage</a>
        {% endif %}
        {% if community.twitter %}
        <a class="btn btn-default" href="https://twitter.com/{{ community.twitter }}/"><i class="fa fa-twitter"></i> @{{ community.twitter }}</a>
        {% endif %}
        {% if community.github %}
        <a class="btn btn-default" href="https://github.com/{{ community.github }}/"><i class="fa fa-github"></i> {{ community.github }}</a>
        {% endif %}
        {% if community.slack %}
        <a class="btn btn-default" href="https://{{ community.slack }}.slack.com/"><i class="fa fa-slack"></i> {{ community.slack }}</a>
        {% endif %}
        {% if community.irc_channel and community.irc_network %}
        <button class="btn btn-disabled"><i class="fa fa-comment"></i> {{ community.irc_channel }} ({{ community.irc_network }})</button>
        {% endif %}
    </p>
</div>
{% endif %}

<div class="block-area">
    <h3>Share this community</h3>
    <div class="row">
        <div class="col-md-1">
            <a
                href="https://twitter.com/share"
                class="twitter-share-button"{count}
                data-url="https://www.letsmeet.click{{ community.get_absolute_url }}"
                data-text="Join me at {{ community }}."
                data-via="letsmeet_click"></a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>

        <div class="col-md-1">
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=212341402442310";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-share-button" data-href="https://www.letsmeet.click{{ community.get_absolute_url }}" data-layout="button"></div>
        </div>
    </div>
</div>

<div class="block-area">
    <h3>Subscribers</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User</th>
                <th>Role</th>
                <th>Subscribed since</th>
                <th>
                    {% if can_set_owner or can_set_admin or can_set_subscriber %}
                    Actions
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for subscription in community.community_subscriptions.all %}
            <tr>
                <td>{{ subscription.user.username }}</td>
                <td>{{ subscription.get_role_display }}</td>
                <td>{{ subscription.created|timesince }}</td>
                <td>
                    {% if can_set_owner and not subscription.role == subscription.ROLE_OWNER %}
                    <form method="POST" action="{% url 'subscription_change_role' pk=subscription.pk role='owner' %}" class="inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default btn-xs">Make owner</button>
                    </form>
                    {% endif %}
                    {% if can_set_admin and not subscription.role == subscription.ROLE_ADMIN %}
                    <form method="POST" action="{% url 'subscription_change_role' pk=subscription.pk role='admin' %}" class="inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default btn-xs">Make admin</button>
                    </form>
                    {% endif %}
                    {% if can_set_subscriber and not subscription.role == subscription.ROLE_SUBSCRIBER %}
                    <form method="POST" action="{% url 'subscription_change_role' pk=subscription.pk role='subscriber' %}" class="inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default btn-xs">Make subscriber</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr><td colspan=2><em>No subscribers! (this should not happen...)</em></td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="block-area">
    <h3>Upcoming events</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Event</th>
                <th>Date</th>
                <th>Attendees</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            {% for event in community.events.upcoming.all %}
            <tr class="clickable" onclick="window.document.location='{{ event.get_absolute_url }}';">
                <td>{{ event.name }}</td>
                <td>{{ event.begin }} - {{ event.end }}</td>
                <td>
                    {{ event.rsvp_yes.count }} <i class="fa fa-users"></i>
                </td>
                <td>{{ event.comments.count }} <i class="fa fa-comment"></i></td>
            </tr>
            {% empty %}
            <tr><td colspan=4><em>Currently no scheduled events</em></td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="block-area">
    <h3>Past events</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Event</th>
                <th>Date</th>
                <th>Attendees</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            {% for event in community.events.past.all %}
            <tr class="clickable" onclick="window.document.location='{{ event.get_absolute_url }}';">
                <td>{{ event.name }}</td>
                <td>{{ event.begin }} - {{ event.end }}</td>
                <td>
                    {{ event.rsvp_yes.count }} <i class="fa fa-users"></i>
                </td>
                <td>{{ event.comments.count }} <i class="fa fa-comment"></i></td>
            </tr>
            {% empty %}
            <tr><td colspan=4><em>No past events</em></td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
