{% extends 'base.html' %}
{% load rules %}

{% block content %}
{% has_perm 'community.can_edit' user community as can_edit %}
{% if  can_edit %}
<div class="pull-right">
    <a class="btn btn-default" href="{% url 'community_create' %}"><i class="fa fa-pencil-square-o"></i> Edit</a>
</div>
{% endif %}
<h2>Community: {{ community }}</h2>
<h3>Subscribers</h3>
<table class="table table-striped">
    <tr>
        <th>Subscriber</th>
        <th>Role</th>
    </tr>
    {% for subscription in community.community_subscriptions.all %}
    <tr>
        <td>{{ subscription.user.username }}</td>
        <td>{{ subscription.get_role_display }}</td>
    </tr>
    {% empty %}
    <tr><td colspan=2><em>No subscribers! (this should not happen...)</em></td></tr>
    {% endfor %}
</table>
{% endblock content %}
