{% extends 'base.html' %}
{% load rules community_tags %}

{% block content %}
{% if user.is_authenticated %}
{% get_community_subscription user community as user_subscription %}
{% has_perm 'community.can_edit' user community as can_edit %}
{% has_perm 'community.can_create_event' user community as can_create_event %}
{% has_perm 'community.can_set_owner' user community as can_set_owner %}
{% has_perm 'community.can_set_admin' user community as can_set_admin %}
{% has_perm 'community.can_set_subscriber' user community as can_set_subscriber %}
{% endif %}
<div class="pull-right">
    {% if user_subscription %}
    <a class="btn btn-default" href="{{ community.get_unsubscribe_url }}"><i class="fa fa-user-times"></i> Unsubscribe</a>
    {% else %}
    <a class="btn btn-default" href="{{ community.get_subscribe_url }}"><i class="fa fa-user-plus"></i> Subscribe</a>
    {% endif %}

    {% if can_create_event %}
    <a class="btn btn-default" href="{{ community.get_event_create_url }}"><i class="fa fa-plus"></i> Schedule event</a>
    {% endif %}

    {% if can_edit %}
    <a class="btn btn-default" href="{{ community.get_update_url }}"><i class="fa fa-pencil-square-o"></i> Edit</a>
    {% endif %}
</div>
<h2>Community: {{ community }}</h2>
{% if community.twitter or community.github or community.homepage or community.slack or community.irc_channel and community.irc_network %}
<h3>Find this community on the web</h3>
<p>
    {% if community.homepage %}
    <a class="btn btn-default" href="{{ community.homepage }}"><i class="fa fa-globe"></i> Homepage</a>
    {% endif %}
    {% if community.twitter %}
    <a class="btn btn-default" href="https://twitter.com/{{ community.twitter }}/"><i class="fa fa-twitter"></i> @{{ community.twitter }}</a>
    {% endif %}
    {% if community.github %}
    <a class="btn btn-default" href="https://github.com/{{ community.github }}/"><i class="fa fa-github"></i> {{ community.github }}</a>
    {% endif %}
    {% if community.slack %}
    <a class="btn btn-default" href="https://{{ community.slack }}.slack.com/"><i class="fa fa-slack"></i> {{ community.slack }}</a>
    {% endif %}
    {% if community.irc_channel and community.irc_network %}
    <button class="btn btn-disabled"><i class="fa fa-comment"></i> {{ community.irc_channel }} ({{ community.irc_network }})</button>
    {% endif %}
</p>
{% endif %}
<h3>Subscribers</h3>
<table class="table table-striped">
    <tr>
        <th>Subscriber</th>
        <th>Role</th>
        <th>Subscribed since</th>
        {% if can_set_owner or can_set_admin or can_set_subscriber %}
        <th>Actions</th>
        {% endif %}
    </tr>
    {% for subscription in community.community_subscriptions.all %}
    <tr>
        <td>{{ subscription.user.username }}</td>
        <td>{{ subscription.get_role_display }}</td>
        <td>{{ subscription.created }}</td>
        <td>
            {% if can_set_owner and not subscription.role == subscription.ROLE_OWNER %}
            <form method="POST" action="{% url 'subscription_change_role' pk=subscription.pk role='owner' %}" class="inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-default btn-xs">Make owner</button>
            </form>
            {% endif %}
            {% if can_set_admin and not subscription.role == subscription.ROLE_ADMIN %}
            <form method="POST" action="{% url 'subscription_change_role' pk=subscription.pk role='admin' %}" class="inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-default btn-xs">Make admin</button>
            </form>
            {% endif %}
            {% if can_set_subscriber and not subscription.role == subscription.ROLE_SUBSCRIBER %}
            <form method="POST" action="{% url 'subscription_change_role' pk=subscription.pk role='subscriber' %}" class="inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-default btn-xs">Make subscriber</button>
            </form>
            {% endif %}
        </td>
    </tr>
    {% empty %}
    <tr><td colspan=2><em>No subscribers! (this should not happen...)</em></td></tr>
    {% endfor %}
</table>

<hr>

<h3>Events</h3>
<table class="table table-hover">
    <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Coming</th>
        <th>Not coming</th>
    </tr>
    {% for event in community.events.all %}
    <tr class="clickable" onclick="window.document.location='{{ event.get_absolute_url }}';">
        <td>{{ event.name }}</td>
        <td>{{ event.begin }} - {{ event.end }}</td>
        <td><span class="label label-success">{{ event.rsvp_yes.count }}</span></td>
        <td><span class="label label-danger">{{ event.rsvp_no.count }}</span></td>
    </tr>
    {% empty %}
    <tr><td colspan=4><em>Currently no scheduled events</em></td></tr>
    {% endfor %}
</table>
{% endblock content %}
