{% extends 'base.html' %}
{% load rules %}

{% block page_title %}
My communities
{% endblock %}

{% block content %}
<div class="block-area text-right">
    <a class="btn" href="{% url 'community_create' %}"><i class="fa fa-plus-circle"></i> Found new community</a>
</div>

<div class="block-area">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Community</th>
                <th>Role</th>
                <th>Subscribed since</th>
                <th>Next event</th>
            </tr>
        </thead>
        <tbody>
            {% for subscription in communitysubscription_list %}
            <tr class="clickable" onclick="window.document.location='{{ subscription.community.get_absolute_url }}';">
                <td>{{ subscription.community.name }}</td>
                <td>{{ subscription.get_role_display }}</td>
                <td>{{ subscription.created|timesince }}</td>
                <td>
                    {% if subscription.community.get_next_event %}
                    {{ subscription.community.get_next_event.name }} in {{ subscription.community.get_next_event.begin|timeuntil }}
                    {% else %}
                    No upcoming event
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr><td colspan=2><em>You currently have no active community subscriptions.</em></td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
