{% extends 'base.html' %}
{% load rules %}

{% block content %}
<div class="pull-right">
    <a class="btn btn-default" href="{% url 'community_create' %}"><i class="fa fa-plus-circle"></i> Found new community</a>
</div>
<h2>My communities</h2>
<table class="table table-striped">
    <tr>
        <th>Community</th>
        <th>Role</th>
        <th>Subscribed since</th>
    </tr>
{% for subscription in communitysubscription_list %}
<tr class="clickable" onclick="window.document.location='{{ subscription.community.get_absolute_url }}';">
    <td>{{ subscription.community.name }}</td>
    <td>{{ subscription.get_role_display }}</td>
    <td>{{ subscription.created }}</td>
</tr>
{% empty %}
<tr><td colspan=2><em>You currently have no active community subscriptions.</em></td></tr>
{% endfor %}
</table>
{% endblock content %}
