{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}
<h1>Unsubscribe from community "{{ community.name }}"?</h1>
<div class="alert alert-info" role="alert">
    <em>Note: Unsubscribing from a community will remove all your RSVPs from future events of this community</em>
</div>
<form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Yes, unsubscribe</button>
    <a href="{{ community.get_absolute_url }}" class="btn btn-danger"><i class="fa fa-user-times"></i> Oups, that was an accident</a>
</form>
{% endblock content %}
