<div class="list-group-item">
    <form action="{% url "change_notification" %}" class="form pull-right" method="post">
        <button type="submit" class="btn btn-xs" style="margin:0" name="action" value="{{ notification_state|yesno:'disable,enable' }}">
            {{ notification_state|yesno:'disable,enable' }}
        </button>
        <input type="hidden" name="type" value="{{ notification_type }}" />
        {% csrf_token %}
    </form>
    <i class="fa fa-{{ notification_state|yesno:'check,times' }}"></i> 
    {{ text }}
</div>
<div class="list-group-separator"></div>
