{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="format-detection" content="telephone=no">
        <meta property="og:url"                content="https://www.letsmeet.click{% block og_url_path %}{% endblock %}" />
        <meta property="og:title"              content="{% block og_title %}Letsmeet.click{% endblock %}" />
        <meta property="og:description"        content="Makes meeting fellow humans easy." />
        <meta property="og:image"              content="https://www.letsmeet.click/static/img/letsmeet_icon.png" />
        <meta property="fb:app_id"             content="212341402442310" />

        <title>{% block title %}Letsmeet.click{% endblock %}</title>

        <link href="{% static 'theme/css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="{% static 'theme/css/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'theme/css/form.css' %}" rel="stylesheet">
        <link href="{% static 'theme/css/calendar.css' %}" rel="stylesheet">
        <link href="{% static 'theme/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'theme/css/icons.css' %}" rel="stylesheet">
        <link href="{% static 'theme/css/generics.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    </head>
    <body id="skin-blur-chrome">

        <header id="header" class="media">
            <a href="" id="menu-toggle"></a>
            <a class="logo pull-left" href="{% url 'home' %}"><img src="{% static 'img/letsmeet-inv.svg' %}" alt="Start"></a>
            <div class="media-body">
                <div class="media" id="top-menu">
                    <div class="media-body text-right">
                        {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">Logout</a>
                        {% else %}
                        <a href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>

        <div class="clearfix"></div>

        <section id="main" class="p-relative" role="main">
            <div></div>

            <!-- Sidebar -->
            <aside id="sidebar">

                <!-- Sidbar Widgets -->
                <div class="side-widgets overflow">
                    <div class="m-b-25 text-center">
                        <h4><a href="{% url 'profile' %}">{{ user.username }} <i class="fa fa-wrench"></i></a></h4>
                        <div class="menu">
                            <div>
                                <a href="{% url 'home' %}">Home</a>
                            </div>
                            <div>
                                <a href="{% url 'community_list' %}">All Communities</a>
                            </div>
                            {% if user.is_authenticated %}
                                <div><a href="{% url 'my_communities' %}">My Communities</a></div>
                                {% if request.user.is_staff %}
                                    <div><a href="{% url 'admin:index' %}">Admin</a></div>
                                {% endif %}
                                <div><a href="{% url 'logout' %}">Logout</a></div>
                            {% else %}
                                <div><a href="{% url 'login' %}">Login</a></div>
                            {% endif %}
                            <div>
                                <a href="{% url 'contact' %}">Contact</a>
                            </div>
                            <div>
                                <a href="{% url 'legal' %}">Legal / Impressum</a>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>

            <div id="content" class="container">
                <h4 class="page-title">{% block page_title %}Please put something in block page_title{% endblock %}</h4>
                <div class="block-area">
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.level_tag }} {{ message.extra_tags }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="block-area">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
                            {% block small_content %}
                            {% endblock small_content %}
                        </div>
                    </div>
                </div>
                {% block content %}
                {% endblock content %}
            </div>


            <!-- Older IE Message -->
            <!--[if lt IE 9]>
            <div class="ie-block">
                <h1 class="Ops">Ooops!</h1>
                <p>You are using an outdated version of Internet Explorer, upgrade to any of the following web browser in order to access the maximum functionality of this website. </p>
                <ul class="browsers">
                    <li>
                        <a href="https://www.google.com/intl/en/chrome/browser/">
                            <img src="{% static 'theme/img/browsers/chrome.png' %}" alt="">
                            <div>Google Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.mozilla.org/en-US/firefox/new/">
                            <img src="{% static 'theme/img/browsers/firefox.png' %}" alt="">
                            <div>Mozilla Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com/computer/windows">
                            <img src="{% static 'theme/img/browsers/opera.png' %}" alt="">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://safari.en.softonic.com/">
                            <img src="{% static 'theme/img/browsers/safari.png' %}" alt="">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/downloads/ie-10/worldwide-languages">
                            <img src="{% static 'theme/img/browsers/ie.png' %}" alt="">
                            <div>Internet Explorer(New)</div>
                        </a>
                    </li>
                </ul>
                <p>Upgrade your browser for a Safer and Faster web experience. <br/>Thank you for your patience...</p>
            </div>
            <![endif]-->
        </section>

        <!-- Javascript Libraries -->
        <!-- jQuery -->
        <script src="{% static 'theme/js/jquery.min.js' %}"></script> <!-- jQuery Library -->
        <script src="{% static 'theme/js/jquery-ui.min.js' %}"></script> <!-- jQuery UI -->
        <script src="{% static 'theme/js/jquery.easing.1.3.js' %}"></script> <!-- jQuery Easing - Requirred for Lightbox + Pie Charts-->

        <!-- Bootstrap -->
        <script src="{% static 'theme/js/bootstrap.min.js' %}"></script>

        <!-- Charts -->
        {# <script src="{% static 'theme/js/charts/jquery.flot.js' %}"></script> <!-- Flot Main --> #}
        {# <script src="{% static 'theme/js/charts/jquery.flot.time.js' %}"></script> <!-- Flot sub --> #}
        {# <script src="{% static 'theme/js/charts/jquery.flot.animator.min.js' %}"></script> <!-- Flot sub --> #}
        {# <script src="{% static 'theme/js/charts/jquery.flot.resize.min.js' %}"></script> <!-- Flot sub - for repaint when resizing the screen --> #}

        {# <script src="{% static 'theme/js/sparkline.min.js' %}"></script> <!-- Sparkline - Tiny charts --> #}
        {# <script src="{% static 'theme/js/easypiechart.js' %}"></script> <!-- EasyPieChart - Animated Pie Charts --> #}
        {# <script src="{% static 'theme/js/charts.js' %}"></script> <!-- All the above chart related functions --> #}

        <!-- Map -->
        {# <script src="{% static 'theme/js/maps/jvectormap.min.js' %}"></script> <!-- jVectorMap main library --> #}
        {# <script src="{% static 'theme/js/maps/usa.js' %}"></script> <!-- USA Map for jVectorMap --> #}

        <!--  Form Related -->
        <script src="{% static 'theme/js/icheck.js' %}"></script> <!-- Custom Checkbox + Radio -->

        <!-- UX -->
        <script src="{% static 'theme/js/scroll.min.js' %}"></script> <!-- Custom Scrollbar -->

        <!-- Other -->
        {# <script src="{% static 'theme/js/calendar.min.js' %}"></script> <!-- Calendar --> #}
        {# <script src="{% static 'theme/js/feeds.min.js' %}"></script> <!-- News Feeds --> #}


        <!-- All JS functions -->
        <script src="{% static 'theme/js/functions.js' %}"></script>

        <script src="{% static 'js/countUp.min.js' %}"></script>

        {% block bottom_js %}
        {% endblock %}

{% if environment == 'production' %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71775275-1', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}
    </body>
</html>
