{% load static users_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="format-detection" content="telephone=no">
        <meta property="og:url"              content="https://www.letsmeet.click{% block og_url_path %}{% endblock %}" />
        <meta property="og:title"            content="{% block og_title %}Letsmeet.click{% endblock %}" />
        <meta property="og:description"      content="Makes meeting fellow humans easy." />
        <meta property="og:image"            content="https://www.letsmeet.click/static/img/letsmeet_icon.png" />
        <meta property="fb:app_id"           content="212341402442310" />
	<meta name="google-signin-client_id" content="249584979490-p3j41k8gtr2r66sdprkpupka93jagt3t.apps.googleusercontent.com">

        <title>{% block title %}{% if object %}{{ object }} | {% endif %}Letsmeet.click{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/buttons.bootstrap.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-material-design.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/ripples.min.css' %}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/flatpickr.min.css' %}"/>

        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}"><img style="height:30px" alt="Letsmeet logo" src="{% static 'img/letsmeet-inv.svg' %}" alt="Start"></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'community_list' %}">All Communities</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'profile' %}">Profile</a></li>
                            {% if request.user.is_staff %}
                                <li><a href="{% url 'admin:index' %}">Admin</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.level_tag }} {{ message.extra_tags }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
		{% if environment == 'production' %}
           	    <div class="alert alert-warning"><strong>Letsmeet.click will be shutdown at 2018-11-15!</strong></div>
		{% endif %}

            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
                    {% block small_content %}
                    {% endblock small_content %}
                </div>
            </div>
            {% block content %}
            {% endblock content %}
        </div>

        <footer class="footer">
            <div class="container">
                <p class="text-muted text-right">
                    <a href="{% url 'about' %}">About/FAQ</a> | <a href="{% url 'legal' %}">Legal/Contact</a>
                </p>
            </div>
        </footer>

        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/dataTables.buttons.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/buttons.bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/natural.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/material.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ripples.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/flatpickr.min.js' %}" charset="utf-8"></script>

        <script src="{% static 'js/countUp.min.js' %}"></script>

        {% block bottom_js %}
        {% endblock %}

        <script>
            function initDatatables() {
                $.each($('.datatable'), function(index, value) {
                    try {
                        $(value).DataTable({
                            "bPaginate": false,
                            columnDefs: [ { type: 'natural', targets: 0 } ]
                        });
                    } catch(err) {
                        console.log('Unable to init datatable: ' + err);
                        console.log(value);
                    }
                });
                $('.datatable').css('width', '100%');
            }
            $(function () {
                $.material.init()
                initDatatables();
                flatpickr(".datetimepicker", {enableTime: true});
            } );
        </script>
        {% if environment == 'production' %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-71775275-1', 'auto');
ga('send', 'pageview');
</script>
{% endif %}
    </body>
</html>
