{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <h2>Contact</h2>
	<ul>
	  <li>Email: info@letsmeet.click</li>
	  <li>Github: <a href="http://github.com/letsmeet-click">http://github.com/letsmeet-click</a></li>
	  <li>Twitter: <a href="http://twitter.com/letsmeet_click">http://twitter.com/letsmeet_click</a></li>
	  <li>Facebook: <a href="http://facebook.com/letsmeet.click">http://facebook.com/letsmeet.click</a></li>
	</ul>
    </div>
    <div class="col-md-4">
        <h2>Legal</h2>
	FIXME
    </div>
    <div class="col-md-4">
    </div>
</div>

{% endblock content %}
