{% extends 'base.html' %}
{% load static %}

{% block fullwidth_content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">makes meeting fellow humans easy.</h1>
        <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="latesmeet logo"></a>
    </div>
</div>
{% endblock fullwidth_content %}

{% block content %}
<!-- Example row of columns -->
<div class="row">
    <div class="col-md-4">
        <h2>Organize your event</h2>
        <p>RSVP for your events - or see how many people will join you. </p>
        <p><a class="btn btn-secondary" href="#" role="button">Setup event &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>No registration required </h2>
        <p>Log in with your existing Facebook, Twitter, Google Plus, or Github account - no separate registration. </p>
        <p><a class="btn btn-secondary" href="#" role="button">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Use your existing communication</h2>
        <p>Use the groups or platforms that you already have: Facebook, Slack, G+, or else – we just add a place to see who will join you when you meet.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
</div>

{% endblock content %}
