.menu {
    margin-top: 30px;
}

.menu > a {
    display: block;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    margin: 0px 10px;
    padding: 10px 0px;
    transition: background-color 0.3s;
}

.menu > a:hover {
    background-color: rgba(0, 0, 0, 0.14);
}

@media (min-width: 1024px) {
    #skin-blur-chrome {
        background: #575761; /* Old browsers */
        background: -moz-linear-gradient(top, #575761 0%, #080b14 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #575761 0%,#080b14 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #575761 0%,#080b14 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

#top-menu > .media-body {
    padding-top: 12px;
}

.home-banner {
    padding-top: 3rem;
    padding-left: 3rem;
    margin: 0;
    width: 100%;
    height: 600px;
    background: url('../img/home_banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.inline {
    display: inline;
}

.clickable {
    cursor: pointer;
}

.logo {
    line-height: 50px;
    padding: 0 0 0 45px;
}
.logo img {
    max-width: 170px;
    max-height: 28px;
}
